footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 100px;
    border-top: 2px solid #000;
    font-size: clamp(10px, 1.5vw, 15px);
    .cr, .fo-links{
        text-align: center;
        strong{
            color:#000;
            text-decoration: underline;
        }
    }
    .fo-links{
        :first-child{
            margin-right: 25px;
        }
        a{
            text-decoration: underline;
            color: #000;
        }
    }
}