@import "../../styles/varibales";

.log-in {
  display: flex;
  align-items: center;
  min-height: 500px;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  img {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 767px) {
      width: 100%;
    }
    :first-child{
      font-size: clamp(25px, 2.5vw, 40px);
      margin-bottom: 20px;
    }
    .form-floating {
      color:#fff;
      input{
        width: 100%;
        position: relative;
        background-color: #000;
        border: 1px solid #11c3c1;
        border-radius: 15px;
        outline: none;
        color: white;
        font-size: 16px;
        transition: 0.3s;
        &:focus, &:active {
          background-color: #000;
          color: #fff;
          box-shadow: 0px 0px 15px 0px cyan;
        }
      }
      i{
        position: absolute;
        top:39%;
        right: 8px;
        transform: translate(-50%, -50%);
      }
    }
    button{
      color: #000;
      border-radius: 10px;
      border: 3px solid #000;
      font-weight: bold;
      font-size: 30px;

      &:hover{
        color: #000;
        border: 3px solid #000;
          box-shadow: none;
        background-color: $primarycolor;
      }
    }
  }
}
